<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .menu-icon {
            width: 25px;
            height: 5px;
            border-top: 5px solid grey;
            border-bottom: 5px solid grey;
            background-color: grey;
            padding: 3px 0;
            background-clip: content-box;
        }


    </style>

</head>
<body>

<div>
    <span style="font-family:Comic Sans MS;font-size:14px;">
    <div class="menu-icon"></div>
</span>
</div>

</body>
</html>